doctype html

html

    head
        title Subreddit Database Status
        style
            include ../public/main.css

    body

        h1 Subreddit Database Status

        .stats-container
            
            each val, index in stats
                .stats-item
                    h2 #{index}
                    p #{val}

        .last-updated 
            | Last Updated: 
            mark #{lastUpdated}

        h1 API Endpoints

        p
            | Data is delivered in JSON. Place 
            code ?csv 
            | after the endpoint for .csv instead of JSON.

        code
            |/stats  

        code
            | /submissions/
            mark page   

        code
            | /submissions/author/
            mark author      

        code
            | /submissions/id/
            mark id                  

        code
            | /comments/
            mark page   

        code
            | /comments/author/
            mark author  

        code
            | /comments/id/
            mark id

        code
            | /comments/submission_id/
            mark submission_id   

        code
            | /comments/parent_id/
            mark parent_id   
    
    h1 API Request Limit

    p 
        | You may only make 
        mark #{rateLimit.max} 
        | API requests every #{rateLimit.windowM} minutes.
    p 
        | You have 
        mark #{rateLimit.remaining} 
        | API requests left until 
        mark #{rateLimit.resetTime}.                                             
        